<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.inf.vs.a4.savemyass" >

    <!-- Location service and Internet availability -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GCM stuff -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UI.Intro">
        </activity>
        <activity
            android:name=".HelpOthers"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.inf.vs.a4.savemyass.MainActivity" />
        </activity>
        <activity
            android:name=".HelpRequest"
            android:label="@string/title_activity_help_request_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.inf.vs.a4.savemyass.MainActivity" />
        </activity>
        <activity
            android:name=".CustomMessage"
            android:label="@string/title_activity_custom_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.inf.vs.a4.savemyass.MainActivity" />
        </activity>
        <activity
            android:name=".ButtonCombination"
            android:label="@string/title_activity_button_combination"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.inf.vs.a4.savemyass.MainActivity" />
        </activity>
        <activity
            android:name=".On_OffMode"
            android:label="@string/title_activity_on__off_mode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.inf.vs.a4.savemyass.MainActivity" />
        </activity>

        <!-- GCM receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name=".Centralized" />
            </intent-filter>
        </receiver>

        <!-- BootComplete receiver -->
        <receiver android:name=".ServiceStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- periodic receiver -->
        <receiver android:name=".WakefulServiceStarter"/>

        <!-- Background Service -->
        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <!-- GCM Id change listener -->
        <service
            android:name=".Centralized.GCMInstanceIDListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- GCM Registration IntentService -->
        <service
            android:name=".Centralized.GCMRegistrationIntentService"
            android:exported="false" />

        <!-- GCM receiver -->
        <service
            android:name=".Centralized.GCMReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>
